@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

figure {
  margin: 0;
}

button {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 25px;
  background: #ff79da;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  margin: 15px 0;
  padding: 15px 20px;
  font-size: inherit;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  min-width: 186px;
}
button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transform: scale(1.02);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.heart-icon__stop-start {
  stop-color: #9356dc;
}
.heart-icon__stop-end {
  stop-color: #ff79da;
}
.heart-icon__regular {
  transform-origin: center center;
  transform: scale(0.9, 0.9);
}
.heart-icon__solid {
  fill: url(#icon-gradient);
  opacity: 0;
  transition: opacity 0.5s;
}
.heart-icon__solid:hover {
  opacity: 1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  position: relative;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
header .nav {
  display: flex;
  align-items: center;
  padding: 20px;
}
header .nav__center {
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
header .nav__back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .nav__back .back-icon {
  font-size: 20px;
}
header .nav__logo {
  font-family: "Shrikhand", cursive;
  text-decoration: none;
  color: inherit;
  font-size: 30px;
}

footer {
  background-color: #353535;
}
footer .foot {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
footer .foot__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 700;
}
footer .foot__legal {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 500;
}
footer .foot__link-wrap {
  margin-bottom: 10px;
}
footer .foot__link {
  color: #fff;
  text-decoration: none;
}
footer .foot__link-icon {
  max-width: 13px;
  margin-right: 15px;
}
footer .foot__link-title {
  flex: 1;
}
footer .foot__logo {
  text-decoration: none;
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin-bottom: 20px;
}

.announce {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}
.announce__wrap {
  display: flex;
  align-items: center;
}
.announce__location {
  font-weight: 500;
  margin: 0 15px;
}

.hero {
  padding: 20px;
  background: #f6f6f6;
  text-align: center;
}
.hero__title {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.guide {
  padding: 20px;
}
.guide__steps {
  counter-reset: number;
  list-style: none;
  padding: 0;
  margin-left: 15px;
}
.guide__step {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  align-items: center;
}
.guide__step--active, .guide__step:hover {
  cursor: pointer;
  background-color: #f5edff;
}
.guide__step--active .fas, .guide__step:hover .fas {
  color: #9356dc;
}
.guide__step::before {
  color: #fff;
  border-radius: 25px;
  background-color: #9356dc;
  padding: 5px 10px;
  counter-increment: number;
  content: counter(number);
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}
.guide__step-icon {
  color: #7e7e7e;
  text-align: center;
  flex: 0 0 15%;
  font-size: 24px;
}
.guide__step-title {
  margin: 0 15px;
  flex: 1 0 85%;
  font-weight: 500;
}
@media (min-width: 1280px) {
  .guide__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .guide__step {
    flex: 0 1 25%;
  }
}

.restaurants {
  padding: 20px;
  background-color: #f6f6f6;
}

.restaurant {
  display: flex;
  flex-direction: column;
}
.restaurant__cell {
  color: inherit;
  text-decoration: none;
}
.restaurant__card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  color: inherit;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.restaurant__card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.restaurant__thumbnail {
  display: block;
  height: 175px;
}
.restaurant__details {
  padding: 15px;
  display: flex;
}
.restaurant__info {
  flex: 80%;
}
.restaurant__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.75;
}
.restaurant__location {
  margin: 0;
  font-weight: 300;
  font-size: 17px;
}
.restaurant__favorite {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__new {
  background-color: #99e2d0;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  border-radius: 2px;
}
.restaurant__new-text {
  display: block;
  color: #269d80;
  padding: 8px 15px;
  font-weight: 700;
  font-size: 14px;
}
@media (min-width: 650px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant__cell {
    flex: 0 1 50%;
  }
  .restaurant__cell:nth-child(odd) .restaurant__card {
    margin-right: 10px;
  }
  .restaurant__cell:nth-child(even) .restaurant__card {
    margin-left: 10px;
  }
}

.cover {
  position: relative;
  z-index: -1;
}
.cover__photo {
  height: 45vh;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin: 0;
}
.menu__wrap {
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -60px;
}
.menu__block {
  margin: 0 0 30px 0;
}
.menu__block-title {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.85;
}
.menu__block-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__item {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
}
.menu__item:hover .menu__check, .menu__item:active .menu__check {
  width: 70px;
  transform: translateX(0%);
}
.menu__item:hover .menu__check-icon, .menu__item:active .menu__check-icon {
  transform: rotate(0deg);
  transition: transform 500ms ease-in;
}
.menu__meta {
  display: flex;
  align-items: flex-end;
  flex: 1;
  padding: 10px;
  overflow: hidden;
}
.menu__meta-info {
  flex: 90%;
  overflow: hidden;
}
.menu__meta-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
}
.menu__meta-details {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  margin: 0;
}
.menu__meta-price {
  margin-left: 10px;
  font-weight: 500;
}
.menu__check {
  width: 0;
  background-color: #99e2d0;
  transition: all 500ms ease-in-out;
  position: relative;
}
.menu__check-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  min-width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__check-icon {
  color: #99e2d0;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
  margin: 0 10px;
  transform: rotate(-360deg);
}
.menu__order {
  text-align: center;
}
@media (min-width: 1280px) {
  .menu .menu__body {
    display: flex;
    justify-content: space-between;
  }
  .menu .menu__block {
    flex: 3;
    overflow: hidden;
  }
  .menu .menu__block:nth-child(3n-2) {
    margin-right: 10px;
  }
  .menu .menu__block:nth-child(3n-1) {
    margin: 0 5px;
  }
  .menu .menu__block:nth-child(3n) {
    margin-left: 10px;
  }
}
