@mixin shadow($n: 0.1) {
  box-shadow: 0 5px 10px rgba(0, 0, 0, $n);
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin children-fade-in($children, $delay) {
  $count: 0;
  @for $i from 1 through $children {
    &:nth-child(#{$i}) {
      opacity: 0;
      animation: fadein 500ms linear $count + ms forwards;
    }
    $count: $count + $delay;
  }

  @keyframes fadein {
    0% {
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin screen-above($breakpoint) {
  // Larger than mobile
  @if $breakpoint==mobile {
    @media (min-width: 650px) {
      @content;
    }
  }

  // Larger than tablet
  @if $breakpoint==tablet {
    @media (min-width: 1280px) {
      @content;
    }
  }

  // Larger than desktop
  @if $breakpoint==desktop {
    @media (min-width: 1920px) {
      @content;
    }
  }
}
