.announce {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-gray;

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__location {
    font-weight: 500;
    margin: 0 15px;
    font-size: inherit;
  }
}

.hero {
  @extend %container;
  background: $bg-color-gray-light;
  text-align: center;

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px 0;
  }
}

.guide {
  @extend %container;

  &__steps {
    counter-reset: number;
    list-style: none;
    padding: 0;
    margin-left: 15px;
  }

  &__step {
    @include shadow;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 25px;
    background-color: $bg-color-gray-light;
    position: relative;
    display: flex;
    align-items: center;

    &--active,
    &:hover {
      cursor: pointer;
      background-color: $bg-color-purple-light;

      .fas {
        color: $color-primary;
      }
    }

    &::before {
      color: #fff;
      border-radius: 25px;
      background-color: $color-primary;
      padding: 5px 10px;
      counter-increment: number;
      content: counter(number);
      position: absolute;
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
    }
  }

  &__step-icon {
    color: $color-icon-default;
    text-align: center;
    flex: 0 0 15%;
    font-size: 24px;
  }

  &__step-title {
    margin: 0 15px;
    flex: 1 0 85%;
    font-weight: 500;
  }

  @include screen-above(tablet) {
    &__steps {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__step {
      flex: 0 1 25%;
    }
  }
}

.restaurants {
  @extend %container;
  background-color: $bg-color-gray-light;
}

.restaurant {
  display: flex;
  flex-direction: column;

  &__cell {
    color: inherit;
    text-decoration: none;
  }

  &__card {
    @include shadow;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    color: inherit;
    transition: all 0.2s ease-in-out;
    position: relative;

    &:hover {
      transform: scale(1.02);
      @include shadow(0.2);
    }
  }

  &__thumbnail {
    display: block;
    height: 175px;
  }

  &__details {
    padding: 15px;
    display: flex;
  }

  &__info {
    flex: 80%;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.75;
  }

  &__location {
    margin: 0;
    font-weight: 300;
    font-size: 17px;
  }

  &__favorite {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__new {
    background-color: $color-tertiary;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    border-radius: 2px;
  }

  &__new-text {
    display: block;
    color: #269d80;
    padding: 8px 15px;
    font-weight: 700;
    font-size: 14px;
  }

  @include screen-above(mobile) {
    flex-direction: row;
    flex-wrap: wrap;

    &__cell {
      flex: cell-width(2);

      &:nth-child(odd) .restaurant__card {
        margin-right: 10px;
      }

      &:nth-child(even) .restaurant__card {
        margin-left: 10px;
      }
    }
  }
}
