footer {
  background-color: $bg-color-dark;

  .foot {
    @include container;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }

    &__logo {
      display: inline-block;
      max-width: 100px;
      margin-bottom: 20px;
    }

    &__links {
      font-weight: 700;

      a {
        display: flex;
        align-items: center;

        i {
          max-width: 13px;
          margin-right: 15px;
        }

        span {
          flex: 1;
        }
      }
    }

    &__legal {
      font-weight: 500;
    }
  }
}
