footer {
  background-color: $bg-color-dark;

  .foot {
    @include container;
    display: flex;
    flex-direction: column;

    &__links {
      @include unstyled-ul;
      display: inline-block;
      font-weight: 700;
    }

    &__legal {
      @include unstyled-ul;
      display: inline-block;
      font-weight: 500;
    }

    &__link-wrap {
      margin-bottom: 10px;
    }

    &__link {
      color: #fff;
      text-decoration: none;
    }

    &__link-icon {
      max-width: 13px;
      margin-right: 15px;
    }

    &__link-title {
      flex: 1;
    }

    &__logo {
      display: inline-block;
      max-width: 100px;
      margin-bottom: 20px;
    }
  }
}
