button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 25px;
  background: $color-secondary;
  background: $bg-gradient;
  margin: 15px 0;
  padding: 15px 20px;
  font-size: inherit;
  font-weight: 500;
  @include shadow(0.2);

  &:hover {
    opacity: 0.9;
  }
}
