button {
  @include shadow(0.2);
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 25px;
  background: $color-secondary;
  background: $bg-gradient;
  margin: 15px 0;
  padding: 15px 20px;
  font-size: inherit;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:hover {
    @include shadow(0.3);
    opacity: 0.9;
    transform: scale(1.02);
  }
}
